header {

    .header_container {
        padding: 0 7rem;

        .nav_logo {
            color: white;
            font-size: 1.5rem;
            font-weight: 600;
        }

        .nav_icon {
            margin-left: 1rem;
        }
    }

}